.main {
  max-width: 1200px;
  margin: 0 auto;
}
.main > li {
  float: left;
  padding: 0 10px;
}
.main > li.news_left {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.main > li.news_left .img_box {
  width: 100%;
}
.main > li.news_left .img_box img {
  width: 100%;
}
.main > li.news_left > h2 {
  font-size: 28px;
  line-height: 2;
}
.main > li.news_left > p {
  font-size: 14px;
  color: #888;
  line-height: 1.5;
}
.main > li.news_left > ol {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 10px;
}
.main > li.news_left > ol li a {
  font-size: 14px;
  color: #333;
  line-height: 1.5;
}
.main > li.main_module ol li {
  border-bottom: 1px solid #ddd;
}
.main > li.main_module ol li > h3 a {
  font-size: 18px;
  color: #333;
  font-weight: bold;
  line-height: 3;
}
.main > li.main_module ol li > .img_box {
  width: 100%;
  margin-bottom: 20px;
}
.main > li.main_module ol li > .img_box img {
  width: 100%;
}
.main > li.main_module ol li > p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}
.main > li.banner_box {
  overflow: hidden;
  position: relative;
}
.main > li.banner_box img {
  width: 100%;
}
.main > li.entrance {
  padding: 10px 10px;
}
.main > li.entrance .entrance_title {
  font-size: 18px;
  line-height: 2;
  color: #BE0000;
  border-bottom: 2px solid #333;
}
.main > li.entrance .entrance_content {
  padding: 10px 0;
}
.main > li.entrance .entrance_content > li {
  line-height: 2;
}
@media screen and (max-width: 768px) {
  .main > li {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .main > li {
    width: 50%;
  }
}
@media screen and (min-width: 1000px) {
  .main > li {
    width: 33.33333%;
  }
}
