.head {
  margin-bottom: 10px;
  /*登录注册模块*/
  /*logo与广告模块*/
  /*导航模块*/
  /*搜索模块*/
}
.head .login_sign_box {
  height: 30px;
  width: 100%;
  line-height: 30px;
  text-align: right;
  padding: 0 10px;
}
.head .login_sign_box span {
  margin: 0 10px;
}
.head .logo_advertising:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.head .logo_advertising .logo_box img {
  max-width: 100%;
  max-height: 100%;
}
.head .logo_advertising .advertising_box img {
  max-width: 100%;
  max-height: 100%;
}
.head nav {
  line-height: 40px;
  height: 40px;
  background: #BE0000;
  position: relative;
}
.head nav .nav_nk {
  width: 100%;
  height: 100%;
}
.head nav .nav_son_box {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  border: 1px solid #ddd;
  display: none;
  background: #fff;
}
.head nav .nav_son_box .nav_one {
  background: #BE0000;
}
.head nav .nav_son_box .nav_one:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.head nav .nav_son_box .nav_one li {
  float: left;
  width: 25%;
  text-align: center;
}
.head nav .nav_son_box .nav_one li a {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.head nav .nav_son_box .nav_two {
  position: relative;
}
.head nav .nav_son_box .nav_two .nav_two_qx {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  background: #f00;
  text-align: center;
  line-height: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.head nav .nav_son_box .nav_two:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.head nav .nav_son_box .nav_two li {
  float: left;
  width: 20%;
  text-align: center;
}
.head nav .nav_box li {
  text-align: center;
}
.head nav .nav_box li a {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
.head .search_box {
  height: 40px;
  line-height: 40px;
  background: #F0F0F0;
}
.head .search_box:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.head .search_box .left .text {
  width: 50%;
  height: 25px;
  border-radius: 3px;
  outline-style: none;
  border: 1px solid #999;
  padding-left: 5px;
}
.head .search_box .left select {
  height: 25px;
  width: 30%;
  outline-style: none;
}
.head .search_box .left .search_botton {
  height: 25px;
  width: 50px;
  background: #fff;
  cursor: pointer;
}
.foot_box {
  margin-top: 10px;
}
.foot_box .friendly_link {
  line-height: 1.5;
  padding: 10px 0;
}
.foot_box .friendly_link:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.foot_box .friendly_link > .link a {
  margin: 0 10px;
}
.foot_box .column_box {
  text-align: center;
  width: 100%;
}
.foot_box .column_box > span {
  margin: 0 10px;
  color: #999;
}
.foot_box .copy,
.foot_box .for_reference {
  text-align: center;
  padding: 10px 0;
}
.foot_box .email {
  text-align: center;
}
@media screen and (min-width: 768px) {
  /*导航pc效果*/
  nav .nav_box li {
    width: 12.5%;
    float: left;
  }
  nav .nav_btn {
    display: none;
  }
  nav .nav_son_box .nav_one {
    display: none;
  }
  /*搜索模块*/
  .search_box .left {
    width: 50%;
  }
  .search_box .right {
    width: 50%;
  }
  .search_box .right a {
    margin-left: 10px;
  }
  .search_box .right a:hover {
    color: #BE0000;
  }
}
@media screen and (max-width: 768px) {
  .display_none {
    display: none;
  }
  .display_block {
    display: block;
  }
  /*logo与广告模块在手机端的样式*/
  .logo_advertising {
    text-align: center;
  }
  .advertising_box {
    display: none;
  }
  .logo_box {
    margin: 0 auto;
  }
  /*导航移动端效果*/
  nav .nav_btn {
    height: 40px;
    padding-right: 5px;
  }
  nav .nav_btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    /* Firefox 4 */
    -webkit-transition: all 0.5s;
    /* Safari 和 Chrome */
    -o-transition: all 0.5s;
    /* Opera */
  }
  nav .nav_btn i:first-child {
    margin: 14px auto 10px;
  }
  nav .nav_btn i:first-child.active {
    transform: rotate(45deg) translateY(8px);
    -ms-transform: rotate(45deg) translateY(8px);
    /* IE 9 */
    -moz-transform: rotate(45deg) translateY(8px);
    /* Firefox */
    -webkit-transform: rotate(45deg) translateY(0px) translateX(8px);
    /* Safari 和 Chrome */
    -o-transform: rotate(45deg) translateY(8px);
  }
  nav .nav_btn i:last-child {
    margin: 0 auto;
  }
  nav .nav_btn i:last-child.active {
    transform: rotate(-45deg) translateY(-9px);
    -ms-transform: rotate(-45deg) translateY(-9px);
    /* IE 9 */
    -moz-transform: rotate(-45deg) translateY(-9px);
    /* Firefox */
    -webkit-transform: rotate(-45deg) translateY(0px) translateX(8px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-45deg) translateY(-9px);
  }
  nav .nav_son_box .nav_one {
    border-bottom: 1px solid #ddd;
  }
  /*搜索模块*/
  .search_box {
    padding: 0 10px;
  }
  .search_box .left {
    width: 100%;
  }
  .friendly_link {
    display: none;
  }
}
